<h1>X Days Sober</h1>

<p>Affirmation for day <%= @personal_affirmation.day %>:</p>

<form phx-submit="save">
  <textarea name="personal_affirmation[text]"><%= @personal_affirmation.text %></textarea>
  <button type="submit">Save</button>
</form>
